<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Tweeter" %></title>
    <%= csrf_meta_tags %>


    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <%= javascript_include_tag "application" %>
  </head>
  <body>

    <div class="navbar navbar-fluid-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href= "<%=root_path%>"><span class="icon icon-home">
            Home
          </a>
       
     
                
            
          <div class="container-fluid nav-collapse pull-right">
            <ul class="nav">
             <!--  <a class="brand" href= "<%=root_path%>"><span class= "icon icon-cog"> </a>  -->   
            <div class="dropdown">
  <button class="brand" type="button" id="dropdownMenu1" data-toggle="dropdown"><span class="icon icon-cog">
    
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Edit Profile</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Settings</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Log Out</a></li>
    <li role="presentation" class="divider"></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
  </ul>
</div>
            </ul>
          </div><!--/.nav-collapse -->
            <div class='global-nav' data-section-term="top_nav">
              <div class="global-nav-inner">
               <div class="container offset5">
                <h1 class="icon icon-twitter"></h1>     
              </div>
           </div>
        </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        
         
       
        <div class="offset1 span6">
           <div class="well sidebar-nav">
              <%= bootstrap_flash %>
              <%= yield %>
           </div>
        </div>

        <div class="span4">
          <div class="well sidebar-nav">
          <ul class="nav nav-list">
            <li class="nav-header">Sidebar</li>
            <li><h2>Sign in</h2>

              <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
                <div><%= f.label :email %><br />
                <%= f.email_field :email, :autofocus => true %></div>

                <div><%= f.label :password %><br />
                <%= f.password_field :password %></div>

                <% if devise_mapping.rememberable? -%>
                  <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
                <% end -%>

                <div><%= f.submit "Sign in" %></div>
              <% end %> </li>
               </ul>
          </div><!--/.well -->

          <div class="well sidebar-nav">
          <ul class="nav nav-list">
          <li class="nav-header">Sidebar</li>
            <li><h2>Sign up</h2>

              <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
                <%= devise_error_messages! %>

                  <div><%= f.label :name %><br />
                <%= f.text_field :name, :autofocus => true %></div>

                <div><%= f.label :email %><br />
                <%= f.email_field :email %></div>

                <div><%= f.label :age %><br />
                <%= f.number_field :age %></div>

                <div><%= f.label :username %><br />
                <%= f.text_field :username %></div>

                <div><%= f.label :password %><br />
                <%= f.password_field :password %></div>

                <div><%= f.label :password_confirmation %><br />
                <%= f.password_field :password_confirmation %></div>

                <div><%= f.submit "Sign up" %></div>
              <% end %></li>
          </ul>
          </div><!--/.well -->
        </div><!--/span-->
      
       


      </div><!--/row-->
       
      <footer>
        <p>&copy; Company 2014</p>
      </footer>

    </div> <!-- /container -->

  </body>
</html>
